language: ruby

rvm:
  - 2.0.0

env:
  - DB=postgresql

before_script:
  - cp config/travis.database.yml config/database.yml
  - psql -c 'create database soshop_test' -U postgres

script:
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - bundle exec rake db:test:prepare
  - bundle exec rake
